In [1]:
import pandas as pd
import numpy as np

In [2]:
!ls

201306-citibike-tripdata.csv
201701-citibike-tripdata.csv
citibike_062013.csv
Images
README.md
tableau_grading_rubric.pdf
Untitled.ipynb
Untitled1.ipynb

In [3]:
#read data from filename 'filename.csv'
jan_data=pd.read_csv('201701-citibike-tripdata.csv')

jan_data.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0

In [4]:
list (jan_data)

['Trip Duration',
 'Start Time',
 'Stop Time',
 'Start Station ID',
 'Start Station Name',
 'Start Station Latitude',
 'Start Station Longitude',
 'End Station ID',
 'End Station Name',
 'End Station Latitude',
 'End Station Longitude',
 'Bike ID',
 'User Type',
 'Birth Year',
 'Gender']

In [6]:
jan_data.drop(columns=[ 
  'Start Time',
  'Stop Time',  
  'Start Station Latitude',
  'Start Station Longitude',
  'End Station Latitude',
  'End Station Longitude'],inplace=True)